@charset "utf-8";
/* CSS Document */
/*for COH font*/
@font-face {
font-family: 'cohfont';
src: url('cohfont.eot'); /* IE9 Compat Modes */
src: url('cohfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('cohfont.woff') format('woff'), /* Modern Browsers */
url('cohfont.ttf') format('truetype'), /* Safari, Android, iOS */
url('cohfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body, {
	width: 100%;
	height: 100%;
}
.header-wrapper {
  max-width: 1300px;
  margin:0 auto;
}
.contact-wrapper {
  max-width: 1300px;
  margin:0 auto;
}
.front-page-bottom-pics-wrapper {
  max-width: 1300px;
  margin:0 auto;
}
.mission-wrapper {
  max-width: 1300px;
  margin:0 auto;
}
.news-wrapper {
  max-width: 1300px;
  margin:0 auto;
}
button:focus {
  outline: 0 !important;
}
/*formatting for COH font in header*/
.cohfont {
  font-family: 'cohfont';
  color:#003D7A; /*standard blue*/
  text-transform: uppercase;
  font-size: 18pt;

}
h3.cohfont a, a:active, a:visited {
  color:#003D7A;
  text-decoration: none;
}
h3.cohfont-abbr a, a:active, a:visited {
  color:#003D7A;
  text-decoration: none;
}
/*formatting ofr COH font on small device < 315px*/
.cohfont-abbr {
  font-family: 'cohfont';
  color:#003D7A;
  text-transform: uppercase;
  font-size: 18pt;
  margin-top:-10px;
}
/*div to wrap all markup for overlat when menu selected*/
.sitewrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

}
/*formatting for roboto fonts*/
.font-roboto-bold {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    color: #003d7a;
  }
  .font-roboto {
    font-family: 'roboto', sans-serif;
    color:#003d7a;
  }
.font-roboto-light {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    color: #003d7a;
  }
  .font-roboto-light-heading {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
  }
h2.font-roboto-bold.page-title {
    text-decoration: none;
    font-weight: 700;
}
h1.font-coh {
    font-family: ultraregular;
}
/*Menu styles*/
#hammy {
  display: none;
}
#big-menu .main-menu-big {
  display: block;
  padding:0;
  margin:0;
  float:right;
}
#big-menu .main-menu-big li {
  display: inline-block;
  background-color: none;
  background-color: #FFF;
  border: none;
  padding: 18px 24px 0;
}
#big-menu .main-menu-big li:last-child {
  padding-right: 10px;
}
#big-menu .main-menu-big li a{
  padding: 0;
}
#big-menu .main-menu-big a h5:hover{
  color: #657490;
}
#big-menu .main-menu-big h5 {
  color:#1A305A;
  padding:0;
}
/*container div formatting to prevent weird horizontal scrolling*/
.container-fluid {
	width: 100%;
	height:100%;
  overflow-x: hidden;
  padding-left:0;
  padding-right:0;
};

/*banner styles*/
.stackorder {
  z-index: -1;
  position: relative;
  width: 100%;
}

.banner .after {
    position:absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
  }
  .banner {
    min-height: 425px;
    border-top: 4px solid rgba(220, 126, 15, 1);
    border-bottom: 4px solid rgba(220, 126, 15, 1);
    /*background-image: url(banner1.jpg);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
/*fly in animation for home page only*/
.center-fly {
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   margin: auto;
   padding: 0 !important;
   text-align: center;
   transform: translateY(-50%);
   max-width: 477px;
   padding-left:1em;
   z-index:3;
   width: 100%;
   font-family: 'cohfont';
   font-size: 20pt;
   color: white; 
   letter-spacing: -1px;
   animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */ 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* Glow effect from http://zurb.com/playground/radioactive-buttons*/
  @-webkit-keyframes glowPulse {
  from { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, 0.5) }
  50% { background-color: #337ab7; -webkit-box-shadow: 0 0 18px rgba(212, 231, 8, 0.5) }
  to { background-color: #337ab7; -webkit-box-shadow: 0 0 9px rgba(212, 231, 8, .5) }
}
  @-moz-keyframes glowPulse {
  from { background-color: #337ab7; -moz-box-shadow: 0 0 9px rgba(212, 231, 8, 0.5) }
  50% { background-color: #337ab7; -moz-box-shadow: 0 0 18px rgba(212, 231, 8, 0.5) }
  to { background-color: #337ab7; -moz-box-shadow: 0 0 9px rgba(212, 231, 8, .5) }
}
  .glow {
  -webkit-animation-name: glowPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
}
.center-fly-other {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 !important;
  text-align: center;
  transform: translateY(-50%);
  max-width: 477px;
  padding-left: 1em;
  z-index: 3;
  width: 100%;
  font-family: 'cohfont';
  font-size: 20pt;
  color: white;
  letter-spacing: -1px;
 }

span.font-roboto-light {
  color:white;
}
.center-fly button {
  border-radius: 5px;
  margin-top: 10px;
  /*margin-left: 5px;*/
  outline: none;
}

button.font-roboto-light {
  color:white;
}
/*header/footer styles*/

.lifesong {

}
/*hamburger menu styles*/
.hammy {
	padding-top: .35em;
  font-size: 3em;
  color: #003D7A;
  background-color: rgba(0,0,0,0);
}

a.hammy:hover {
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;
}
a.footerItem:hover {
  text-decoration:none;
}
/*in partnership with styles in header*/
.ipwith {
	font-size: 85%;
	padding-top: -5px;
    color:rgba(95, 115, 159, 0.75);
}
/*tweaking header padding*/
.padding-left-off {
	padding-left: 5px;
}
.padding-right-off {
	padding-right: 0;
}
.upsome {
	margin-top: -.65em;
  padding-bottom: 5px;
}
.upsome img {
  max-width: 80px;
}
.upsome-archive {
  margin-top: -.15em;
  
}
.upsome-archive img {
  max-width: 80px;
}
/*style to center anything*/
.center {
    margin: 0 auto;
    float:none;
}
/*icon styles for footer*/
.instagram {
    background-color: rgba(0,0,0,0);
    height:35px;
    /*margin-top: 1.5em;*/
}
/*remove footer margin*/
#footerContacts {
  padding-top: 25px;
  padding-left: 0;
  padding-right:0;
  text-align: center;
}
#footerContacts ul {
  padding:0;
}
#footerContacts h3 {
    margin:0;
    padding-left: 0;
    padding-right: 0;
  }
#footerContacts h3 span{
  font-size: 60%;
}
#footer div {
  text-align: center;
  margin-bottom: 15px;
}
.youtube {
    padding-right:.5em;
    height:35px;
    /*margin-top: 1.5em;*/
    background-color: rgba(0,0,0,0);
}
/*copyright styles*/
.glyphicon-copyright-mark {
  /*font-size: 70%;*/
}
/*tweaking footer for responsiveness*/
.coh {
  /*padding-top: .3em;*/
    color: #1A305A;
}
a.footerItem {
  background-color: rgba(0,0,0,0);
}
.info:hover > .darken { 
    background-color: #0A2E52; 
  }
footer {
    background-color: #003D7A;
    min-height: 75px;
}

/*.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}*/
li .coh {
    padding-left: .2em;
    padding-right:.2em;
    color: #f2f2f2;
}
.ulgeneral {
    list-style-type: none;
}
/*nav styles*/

 nav {
        width: 300px;
        height: 100%;
        position: absolute;
        top:0px;
        right:0px;
        z-index: 100;
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-600px, 0);
        transform: translate(1200px, 0);
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
      }
      nav.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 100%;
      }
.c-mask {
          position: fixed;
          z-index: 10;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 0;
          height: 0;
          background-color: #000;
          opacity: 0;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
      }
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.comeout {
	background-color: #2A457A;
    color: #efefef;
}
.comeout li {
	list-style-type: none;
	padding-left: 10px;
}
.c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}
a.c-menu__link {
  text-decoration: none;
}
.menuItem {
    background-color: #2A457A;
    display: block;
    text-align: center;
    border-top: solid 1px #7588AF;
    border-bottom: solid 1px #050E1B;
}
/*Below taken from http://ianlunn.github.io/Hover/*/

.hvr-fade {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #0A2E52;
  color: white;
}
.has-active-menu {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/*center styles for table and table content - only for home page*/

.centerImage {
    margin: 0 auto;
    width:100%;
}

#mission {
  background-color: rgba(226, 226, 222, 0.52);
  padding-top: 30px;
  /*margin-bottom:20px;*/
  position:relative;
  border-bottom: 2px solid rgb(0, 61, 122);
}
.scripture {
  margin: 0; 
  position:relative;
  top: -40px;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  color: #003d7a;
  margin-right: 15px;
  margin-left: 15px;
}
.center-table {
  margin: 0 auto !important;
  float: none !important;
}
table.center-table {
  margin: 0 auto !important;
  float: none !important;
  width: 0%;
}
.table-text-right {
    text-align: right;
    padding-right: 4px;
}
.table-text-center {
    text-align: center;
}
.table-text-left-left {
    text-align: left;
    padding-right: 20px;
    font-size: 12pt;
}
.table-text-left-right {
    text-align: left;
    padding-left: 40px;
    font-size: 12pt;
}
.border {
 /* border-top: 4px solid rgba(220, 126, 15, 1);
  border-bottom: 4px solid rgba(220, 126, 15, 1);*/
  /*max-height: 474px;*/
}
.table-bg {
  background-color: white;
  max-width: 625px;
  min-width: 375px;
  padding-bottom: 22px;
}
/*content for all other pages*/
.content-bg {
  background-color: white;
  width: 80%;
  min-width: 375px;
  max-width: 1000px;
  padding-bottom: 22px;
}
.format-options {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-grow: 1;
  justify-content: space-around;
}
.format-options h3 {
    border-radius: 42px;
    border: 2px solid #003D7A;
    text-align: center;
    padding: 5px 10px;
    background-color: #fff;
    color: #003D7A;
    min-width: 175px;
}
.formatOptionsToggle {
  color:#FFF !important;
  border: 2px solid #003D7A !important;
  background-color: #003D7A !important;
}
.subFormatOptionsToggle {
  color:#FFF !important;
  border: none !important;
  background-color: #DC7E0F !important;
}
#wrapper {
  border: 1px solid #003D7A;
  top:-70px;
}
p.center-content {
  margin:0 30 0 30;
  font-size: 15pt;
  color:#003d7a;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
}
div.center-content {
  margin:0 auto;
  font-size: 15pt;
  font-style: italic;
  color:#003d7a;
  font-family: 'roboto',sans-serif;
  font-weight: 300;
  max-width: 400px;
}
hr {

  border-top: 1px solid rgba(0, 61, 122, 0.27);
}
.isaiah {
    font-size: 14pt;
    font-style: italic;
    font-weight: 600;
    line-height: 2.4;
}

/*Styles for bottom pictures - only for home page*/

.border-box {
    color: white;
    display: block;
    background-color: rgba(42, 69, 122, 1);
    padding: 5px;
    max-width: 360px;
}
.bottom-title {
  color:#FCA92F;
}
.bottom a {
  text-decoration: none;
}



/*center bottom pictures - only for home page*/

.col-sm-12.bottompics {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

#links {
   margin: 0 auto;
}

/*link behavior for for bottom pics -  only for home page*/
a.info {
  text-decoration: none;
}
.bottomview a:hover > img, .bottomview a:focus > img, .bottomview a:active > img {
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.bottomview a:hover span.darken, .bottomview a:focus span.darken, .bottomview a:active span.darken {
    background-color: #0A2E52;
}
/*News Page Styles*/
.border_news {
  border-top: 4px solid rgba(42, 69, 122, 1);
}
.feed {
  margin: 15px;
}
.feed .insta-column {
  border-right: 1px solid #000;
}
.cohfont-small {
  font-family: 'cohfont';
  color:#003D7A;
  text-transform: uppercase;
  font-size: 14pt;

}
article {
    margin-bottom: 30px;
  }
article  section {
  max-width: 630px;
}
article section {
  margin-bottom: 10px
}
article section:last-child {
  font-size: 16px;
  float:none;
  color: #000;
}
article section:last-child .social-wrap {
  padding: 0;
  text-align: right;
}
article section:last-child .social-wrap li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
}
article section h4 {
  float: left;
  clear: left;
  margin: 0;
}
article section:last-child span {
  display: block;
  margin-bottom: 15px;
}
article section:last-child span ul {
  display: inline-block;
  float: right;
}
article section:last-child span p {
  display: inline-block;
}
article section:first-child p {
  float: right;
  clear: right;
}
.monthly-updates-archive {
  list-style-type: none;
  margin-bottom: 25px;
}
.monthly-updates-recent {
  list-style-type: none;
}
.updates hr {
  margin-left: 0px;
  max-width: 325px;
}
.updates ul a {
  color: rgba(42, 69, 122, 1);
}
.updates .archives {
  text-align: center;
  color: rgba(42, 69, 122, 1);
  font-weight: 600;
}
.updates a:hover{
  text-decoration: none;
  color: rgba(42, 69, 122, 1);
}
.updates a:focus{
  text-decoration: none;
}
.updates #sidebar-cta {
  max-width: 325px;
  background-color: rgba(42, 69, 122, 1);
  margin-right: 15px;
}
.updates #sidebar-cta h3 {
  color: #FFF;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
.updates #sidebar-cta form {
  padding: 15px;
}
.updates #sidebar-cta input {
  width: 100%;
  margin-bottom: 20px;
}
.updates #sidebar-cta button {
  width: 100%;
  background-color: #DC7E0F;
  padding:15px;
  max-width: 300px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.archives-log {
  margin-left: 25px;
}

/*Dontate div styles*/
#donate-section {
  background-color:#003D7A;
}
#donate-section-news {
  background-color: #FFF;
  border-bottom: 1px solid #000;
}
.donate-wrap {
  margin: 50px 0 50px 0;
  text-align: center;
}
#donate-section button {
  text-align: center;
  background-color:#DC7E0F;
  color: #FFF;
  font-weight: 700;
  padding: 10px;
  width: 20%;
  min-width: 100px;
  max-width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  border: solid 2px #FFF;
}
#donate-section-news button {
  text-align: center;
  background-color:#FFF;
  color: rgba(42, 69, 122, 1);
  font-weight: 700;
  padding: 10px;
  width: 20%;
  min-width: 100px;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  border: solid 2px rgba(42, 69, 122, 1);
}
#donate-section button:hover {
  /*color:rgba(42, 69, 122, 1);*/
  color:#5D3608;
  outline: none;
/*  background-color:rgba(252,169,47,.8);*/
}
#donate-section-news button:hover {
  background-color: rgba(132, 135, 142, 0.6);
}

/*Donation page Styles and Button Styles*/
#donate-page {
  text-align: center;
}
#donate-page p {
  font-size: 16px;
  line-height: 1.6;
}
#donate-page .row {
  padding-bottom: 25px;
}
.donate-heading p {
  max-width: 768px;
  text-align: center;
  margin:0 auto;
  padding-bottom: 15px;
  padding-left:15px;
  padding-right: 15px;
}
.donate-heading h4 {
  border: 2px solid #003D7A;
  max-width: 220px;
  max-height: 40px;
  padding: 5;
  margin: 0 auto;
}
.donate-heading h4 a:hover {
  text-decoration: none;

}
.donate-heading h4 a {
  text-decoration: none;
  display: block;
  width: 100%;
  max-height: 40px;

}
.donate-heading h4:hover {
  background-color: rgba(132, 135, 142, 0.6);
}
.donate-onetime {
  background-color: #003D7A;
  color: #fff;
}
.donate-onetime .note {
  font-size: 11px !important;
} /*{
  background-color: #003D7A;
  color: #fff;
}*/
.donate-cta button {
  margin-bottom: 10px;
}
.donate-cta h2, h3 {
  margin-bottom: 10px;
  color: #fff;
}
.donate-cta h3 {
  margin-bottom: 10px;
  color: #fff;
}
.donate-recurring {
  background-color: rgba(226, 226, 222, 0.52);
  color: #003D7A; 
}
.donate-recurring-online h2 {
  color: #003D7A;
}
.donate-recurring-online .sponsor-wrap {
  margin-bottom:0;
}
.donate-recurring-eft ul {
  padding: 0;
  display: block;
}
.donate-recurring-eft h3 {
  color: #003D7A;
}
.donate-recurring-eft li {
  display: inline-block;
  padding: 0 15px;
  letter-spacing: 1px;
}
.donate-recurring-eft li a{
  color: #003D7A;
}
.donate-ct-sponsorship {
  padding-top:15px;
  /*max-width: 1300px;*/
  margin: 0 auto;
}
.donate-ct-sponsorship-row {
  margin:0 auto;
  max-width: 1300px;
}
.donate-ct-sponsorship .donate-ct h3, .donate-sponsorship h3 {
  text-align: left;
}
.donate-ct-sponsorship .donate-ct p {
  text-align: left;
  max-width: 400px;
}
.donate-sponsorship p {
  text-align: left;
}
.donate-sponsorship h4 {
  margin:0 auto;
  border: 2px solid #003D7A;
  max-width: 220px;
  max-height: 40px;
  padding: 5;

}
.donate-sponsorship h4 a {
  text-decoration: none;
  color: #003D7A;
  display: block;
  width: 100%;
  max-height: 40px;
}
.donate-sponsorship h4 a:hover {
  text-decoration: none;
}
.donate-sponsorship h4:hover {
  background-color: rgba(132, 135, 142, 0.6);
}
.donate-ct-sponsorship .donate-ct {
  border-right: 1px solid #000;
}
.sponsor-wrap {
  text-align: center;
  margin:20px 0;
}
.sponsor-wrap button {
  text-align: center;
  background-color:#DC7E0F;
  color: #FFF;
  font-weight: 400;
  padding: 10px;
  width: 20%;
  min-width: 150px;
  max-width: 600px;
  border-radius: 23px;
  font-size: 16px;
  border:none;
}
.sponsor-wrap button:hover {
  color:#5D3608;
  outline: none;
  background-color:#DC7E0F; 
  }
/*Contact form styles*/
#contact {

  background-color: rgba(226, 226, 222, 0.52);
}
form {
  margin-bottom: -1em;
}
.contact-format {
  padding: 15px;
  padding-right: 0;
}
h3.contact-format {
  padding-left: 2em;
  margin-top:15px;
}
.input-height {
  height: 50px;
  border:0;
  max-width: 300px;
}
.button {
  background-color: rgba(42, 69, 122, 1);
  border-radius: 5px; 
}
.fields {
  padding:10px;
}
.text-submit {
  padding:10px;
}
.phone-address {
  padding: 10px;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  width: 100%;
}
.block {
  width: 100%;
  float: left;
  position: relative;
}
/*About Page Styles*/
.folks-wrapper .row {
  padding-bottom: 50px;
  width: 85%;
  margin:0 auto;
}
.folks img {
  max-width: 200px;
}
.folks h4, .folks h5 {
  color: #2A457A;
  text-align: center;
  max-width: 195px;
}
.folks h4 span {
  top: 4;
  color: #2A457A;
}
.info-wrapper {
  width:85%;
}
/*Project Page Styles*/

.images-pp, .images-bkk {
  text-align: center;
}
.images-pp h4, .images-bkk h4 {
    background-color: #2A457A;
    color: #fff;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 40px;
    margin-top: 5px;
}
.images-pp img, .images-bkk img {
  margin: 0 auto;
  width:100%;
  max-width: 200px;
}
.modal-body img {
  margin: 0 auto;
}
.modal-body .link-wrapper {
  text-align: center;
}
.modal-body h5 {
  border: 2px solid #003D7A;
  max-width: 200px;
  min-width: 150px;
  padding: 5;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}
.modal-body h5:hover {
  background-color: rgba(132, 135, 142, 0.6);
}
.modal-body a {
  color: #003D7A;
}
.modal-body a:hover {
  list-style-type: none;
}
.modal-header {
  background-color: #2A457A;
  color: #FFF;
}
.modal-parent {
  display: block;
  font-family: 'cohfont';
  text-transform: uppercase;
}
.modal-parent span:last-child {
  display: inline;
  float: right;
  clear: right;
}
.modal-parent span:first-child {
  display: inline;
  float: left;
  clear: left;
}
.modal-parent h5 {
  margin:0;
  padding-top: 15px;
}

.modal-close {
    padding-top:15px;
    padding-right:5px;
    padding-left: 10;
    padding-bottom: 15px;
    font-size: 1.25em;
    color: #FFF;
    background-color: rgba(0,0,0,0);
}
.modal-close:hover {
  color: #FFF;
  text-decoration: none;
}
.modal-footer {
  background-color: #2A457A;
}
.modal-footer h4 {
    
    color: #FFF;
    float: left;
}
.cambodia-projects .sub-menu {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
  letter-spacing: 2px;
}
.cambodia-projects .sub-menu-item {
  border: 1px solid #999;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 10px;
  width: 100%;
}

.thailand-projects img, .cambodia-projects img {
  max-width: 200px;
}
/*Emunah Page*/
#emunah-wrapper {
  max-width: 1300px;
  margin:0 auto;
}

#emunah img {
  width: 100%;
  max-width: 250px;
}
#emunah  h2 {
  color: #003D7A;
  padding: 15px;
}
#emunah p {
  color: #003D7A;
  padding:15px;
}

#emunah .first {
  background-image: url("img/emunahClothing.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: calc(100% - 300px);
  border-bottom: solid 2px #fff;
  border-top: solid 2px #fff;
}
.emunah-section-wrapper {
  background-color: #FFF;
  padding: 0 15px 15px 15px;
  border: solid 3px #FFF;
  width: 33.333%;
  max-width: 400px;
  min-width: 220px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
}
.emunah-section-wrapper :before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #003D7A ;
  z-index: -1;
}
#emunah-wrapper #emunah:nth-child(odd) .emunah-section-wrapper {
  float: right;
  margin-right: 40px;
}

/*Sponsor a Child Page Styles*/
#sponsorship-page .row {
  max-width: 900px;
  margin: 0 auto;

}
#sponsorship-page {
  background-color: rgba(240,240,238,.5);
  padding-top: 25px;
  border-top: 4px solid #2A457A;
}
.sponsorship-header {
  border-bottom:4px #DC7E0F solid;
}
.sponsorship-header h1 {
  text-align: center;
  margin-bottom: 15px;
}
.sponsorship-header p {
  text-align: center;
  max-width: 768px;
  margin:0 auto;
  margin-bottom: 25px;
  padding:0 15px 15px 15px;
  font-size: 16px;
  line-height: 1.6;
}

#sponsorship-page .col-sm-4 h4 {
  background-color: #2A457A;
    color: #fff;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 5px;
}
#sponsorship-page .col-sm-4 {
  text-align: center;
  margin-bottom: 45px;
}
#sponsorship-page .col-sm-4 img {
  text-align: center;
  margin:0 auto;
  width:100%;
  max-width: 200px;
  /*border: 4px #fff solid;*/
  padding-bottom:5px;
}
#sponsorChild .modal-footer .donate-wrap {
  margin: 15px 0 15px 0;
  background-color: #2A457A;
}
#sponsorChild .modal-footer .donate-wrap button {
  background-color: #DC7E0F;
}
#sponsorChild .modal-body ul {
  padding-left:0;
}
#sponsorChild .modal-body li {
  list-style-type: none;
  padding-bottom: 10;
  padding-top:0;
}
#sponsorChild .modal-body li span {
  font-weight: 600;
}
#sponsorChild .modal-body h4{
  text-align: center;
}
/*media breakpoints*/

/*for bottom pics and subtitle 720*/
@media (max-width: 780px) {

  .space {
      padding-bottom:35px;
  };
  .col-sm-12.bottompics {

    padding-left: 25%;
  }
.input-height {
  padding:10px;
  max-width: none;
  width:100%;
  }
  .form-group {
    padding-right:15px;
  }
  .send {
    width:100%;
  }
}

@media (max-width: 767px){
  .phone-address {
    text-align: center;
  }
  .feed .insta-column {
    border-right: none;
    border-bottom: 1px solid #000;
  }
  .monthly-updates-recent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .updates #sidebar-cta {
    max-width: none;
    margin-right: 0;
  }
  .updates #sidebar-cta button {
    max-width: none;
  }
  .updates hr {
    display: none;
  }
  .updates h1 {
    text-align: center;
  }
  .updates .archives {
    margin-bottom: 25px;
  }

  .folks h4, .folks h5 {
    margin:0 auto;
    padding: 3px;
  }
  .folks img {
    margin:0 auto;
  }
  .folks {
    padding-bottom: 15px;
  }
  .folks-wrapper .row div:last-child p {
    text-align: center;
  }
  #hammy {
    display: block;
  }
  #big-menu {
    display: none;
  }
  .donate-ct-sponsorship .donate-ct {
    border-right: none;
  }
  .cambodia-projects .sub-menu {
    display: block;
  }
}
/*for text over banner photo*/
@media (max-width: 600px) {
  .center-fly {
    transform: translateY(-70%);
    max-width: 400px;
  }
  .center-fly button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
  }
  .center-fly h2 {
    font-size: 18pt;
  }
  .center-fly-other h2 {
    font-size: 15pt;
    max-width: 400px;
    margin: 0 auto;
  }
  #donate-section button, #donate-section-news button {
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
  }
  .sponsor-wrap button {
    padding: 5px;
    font-size: 13px;

  }
}
/*for subtitle under COH in header 860*/
@media (max-width: 864px) {
    h6.ipwith {
      font-size: 7.7pt;
      padding-left: 2px;
    }
}

/*for COH in header 460*/
@media (max-width: 320px) {
  h3.cohfont {
      font-size: 10pt;
}
.hammy {
    padding-top: .7em;
    font-size: 1.5em;
}

}
/*for footer*/
@media (max-width: 299px){

  .fields {
    padding-left: -4.25em;
    width:100%;
  }
  textarea {
    width:100%;
  }

}
@media (min-width: 100px) and (max-width: 375px){
  
  #drawer {
  width: 100%;
  }
  .content-bg {
    min-width: 75%;
    font-size: 8pt;
  }
   h3.coh {
    text-align: center;
  }
  .copy {
    margin-top:0;
  }
  .center-fly {
    padding-left: 5px;
    max-width: 300px
  }
  .center-fly h2 {
    font-size: 16px;
  }
  .center-fly button {
    width: 20%;
    min-width: 100px;
    max-width: 150px;
    padding: 1%;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 5px;
  }
  .center-fly-other {
    /*padding-top: 20px;*/
    padding-left: 5px;
  }
  .center-fly-other h2 {
    font-size: 16px;
    max-width: 140px;
  }
  .feed h1 {
  margin: 0;
  font-size: 22px;
  }
  .feed h4 {
    font-size: 14px;
  }
  .feed p {
    font-size: 12px;
  }
  .updates h1 {
    margin: 10px 0 10px; 
  }
   #news .insta-column h1 {
    margin: 10px 0 10px;
   }
  #donate-page p {
  font-size: 8pt;
  }
  #donate-page h1 {
    font-size: 22px;
  }
  #donate-page h2 {
    font-size: 18px;
  }
  #donate-page h3 {
    font-size: 16px;
  }
  #donate-page h4 {
    font-size: 14px;
  }
}

@media (min-width: 300px) and (max-width: 322px){
  .copy {
    margin-top:2em;
  }

}


/*for smart phone (iphone)*/
@media (min-width: 100px) and (max-width: 480px) {

  h3.cohfont {
  padding-top: .9em;
  font-size: 12pt;
  }

.hammy {
    padding-top: 1.3em;
    font-size: 1.8em;
}
 
  .table-text-left-left {
    text-align: left;
    padding-right: 10px;
    font-size: 8pt;
  }
  .table-bg {
    padding-bottom: 12px;
    min-width: 225px;
  }
  .table-text-left-right {
    text-align: left;
    padding-left: 20px;
    font-size: 8pt;
  }
  .scripture {
    font-size: smaller;
    top:-10px;
  }
  .isaiah {
    font-size: small;
  }
  #wrapper {
    top:-40px;
  }
  #wrapper h2 {
    font-size: 14pt;
  }
  #wrapper h4 {
    font size: medium;
  }
  .center-fly {
    transform: translateY(-55%);
  }
  article section:first-child p {
    float: left;
    clear: left;
    padding-top: 5px;
  }
  article section:last-child span ul img {
  max-width: 20px;
  }

  .monthly-updates-recent {
    display: flex;
    justify-content: flex-start;
  }
  .format-options h3 {
    font-size: 14pt;
  }
  .images-pp h4, .images-bkk h4{
    font-size: 12pt;
  }
  .folks h4 {
    font-size: 11pt;
  }
  .folks h5 {
    font-size: 10pt;
  }
  p.center-content {
    margin:0;
    font-size: 9pt;
  }
  .bottompics div p {
      font-size: 10pt;
  }
  h3.contact-format {
    font-size: 14pt;
  }
  .contact-format h4 {
    font-size: 11pt;
  }
  .contact-format p {
    font-size: 10pt;
  }
  .contact-format .fields input[name="Name"] {
    font-size: 10pt;
  }
  #footerContacts h3 {
    font-size: 14pt;
  }
}
  



